{% extends 'base.html' %}

{% block content %}
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">Oops, la página no se encontró 🥲</div>
                <a href="{% url 'votos:index' %}" class="btn btn-link">🏠️</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

