{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock custom_css %}

{% block content %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'votos:list' %}">Vota!</a>
            </li>
            {% endif %}
        </ul>
        <div class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'votos:logout' %}">Cerrar sesión</a>
            {% else %}
            <a class="nav-link" href="{% url 'votos:login' %}">Ingresa</a>
            <a class="nav-link" href="{% url 'votos:signup' %}">Registrate</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>💡 Donde está <mark>la oportunidad</mark>💡</h1>
                <h3>Vota por las mejores ideas!</h3>
                <hr>
                {% if request.user.is_authenticated %}
                <a class="btn btn-lg btn-warning" style="color: white;" href="{% url 'votos:list' %}" role="button">Quiero participar!</a>
                {% else %}
                <a class="btn btn-lg btn-warning" style="color: white;" href="{% url 'votos:signup' %}" role="button">Quiero participar!</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}